window#osd {
  padding: 8px 16px;
  border-radius: 0px;
  background: alpha(#080610, 1);
  border: 3px solid #110e1c;
}

window#osd #container {
  margin: 0;
}

window#osd image,
window#osd label {
  color: #8ab5be;
}

window#osd progressbar:disabled,
window#osd image:disabled {
  opacity: 0.4;
}

window#osd progressbar {
  min-height: 6px;
  border-radius: 999px;
  background: transparent;
  border: none;
}

window#osd trough {
  min-height: inherit;
  border-radius: 0px;
  border: none;
  background: alpha(#8ab5be, 0.3);
}

window#osd progress {
  min-height: inherit;
  border-radius: 0px;
  border: none;
  background: #8ab5be;
}
