window#osd {
  padding: 16px 20px;
  border-radius: 4px;
  background: alpha(#030303, 1);
  border: 2px solid #050505;
}

window#osd #container {
  margin: 0;
}

window#osd image,
window#osd label {
  color: #888888;
}

window#osd progressbar:disabled,
window#osd image:disabled {
  opacity: 0.4;
}

window#osd progressbar {
  min-height: 6px;
  border-radius: 999px;
  background: transparent;
  border: none;
}

window#osd trough {
  min-height: inherit;
  border-radius: inherit;
  border: none;
  background: alpha(#888888, 0.3);
}

window#osd progress {
  min-height: inherit;
  border-radius: inherit;
  border: none;
  background: #7d718f;
}
