@define-color accent_color {{color1 | lighten(0.15)}};
@define-color accent_bg_color {{color1 | lighten(0.15)}};
@define-color accent_fg_color {{background}};

@define-color destructive_bg_color {{color1 | lighten(0.20)}};
@define-color destructive_fg_color {{background}};

@define-color error_bg_color {{color1 | lighten(0.20)}};
@define-color error_fg_color {{background}};

@define-color window_bg_color {{background}};
@define-color window_fg_color {{foreground}};

@define-color view_bg_color {{background}};
@define-color view_fg_color {{foreground}};

@define-color headerbar_bg_color {{background}};
@define-color headerbar_fg_color {{foreground}};
@define-color headerbar_backdrop_color @window_bg_color;

@define-color card_bg_color {{background}};
@define-color card_fg_color {{foreground}};

@define-color popover_bg_color {{background}};
@define-color popover_fg_color {{foreground}};

@define-color dialog_bg_color {{background}};
@define-color dialog_fg_color {{foreground}};

@define-color overview_bg_color {{background}};
@define-color overview_fg_color {{foreground}};

@define-color sidebar_bg_color {{background}};
@define-color sidebar_fg_color {{foreground}};
@define-color sidebar_backdrop_color @window_bg_color;
@define-color sidebar_border_color @borders;

@define-color secondary_sidebar_bg_color {{background}};
@define-color secondary_sidebar_fg_color {{foreground}};

@define-color borders {{color8}};
@define-color border_color @borders;
@define-color headerbar_border_color @borders;
@define-color card_border_color @borders;
@define-color popover_border_color @borders;

@define-color sidebar_shade_color alpha(@borders, 0.2);
@define-color shade_color alpha(@borders, 0.2);

@define-color theme_bg_color {{background}};
@define-color theme_fg_color {{foreground}};
@define-color theme_base_color {{background}};
@define-color theme_text_color {{foreground}};
@define-color theme_base_bg_color {{background}};
@define-color theme_base_fg_color {{foreground}};

@define-color theme_selected_bg_color @accent_bg_color;
@define-color theme_selected_fg_color @accent_fg_color;

@define-color theme_unfocused_fg_color @window_fg_color;
@define-color theme_unfocused_text_color @view_fg_color;
@define-color theme_unfocused_bg_color @window_bg_color;
@define-color theme_unfocused_base_color @window_bg_color;
@define-color theme_unfocused_selected_bg_color @accent_bg_color;
@define-color theme_unfocused_selected_fg_color @accent_fg_color;

:root {
  --accent-color: {{color1 | lighten(0.15)}};
  --accent-bg-color: {{color1 | lighten(0.15)}};
  --accent-fg-color: {{background}};

  --destructive-bg-color: {{color1 | lighten(0.20)}};
  --destructive-fg-color: {{background}};

  --error-bg-color: {{color1 | lighten(0.20)}};
  --error-fg-color: {{background}};
  --error-color: {{color1 | lighten(0.20)}};

  --window-bg-color: {{background}};
  --window-fg-color: {{foreground}};

  --view-bg-color: {{background}};
  --view-fg-color: {{foreground}};

  --headerbar-bg-color: {{background}};
  --headerbar-fg-color: {{foreground}};
  --headerbar-backdrop-color: @window_bg_color;

  --popover-bg-color: {{background}};
  --popover-fg-color: {{foreground}};

  --card-bg-color: {{background}};
  --card-fg-color: {{foreground}};

  --dialog-bg-color: {{background}};
  --dialog-fg-color: {{foreground}};

  --overview-bg-color: {{background}};
  --overview-fg-color: {{foreground}};

  --sidebar-bg-color: {{background}};
  --sidebar-fg-color: {{foreground}};
  --sidebar-backdrop-color: @window_bg_color;
  --sidebar-border-color: @borders;

  --secondary-sidebar-bg-color: {{background}};
  --secondary-sidebar-fg-color: {{foreground}};

  --warning-bg-color: {{color3 | lighten(0.15)}};
  --warning-fg-color: {{background}};
  --warning-color: {{color3 | lighten(0.15)}};

  --success-color: {{color2 | lighten(0.15)}};
  --success-bg-color: {{background}};
  --success-fg-color: {{color2 | lighten(0.20)}};

  --shade-color: alpha({{color8}}, 0.2);
}

* {
  border-radius: 0px;
}

.portal-widget,
.xdg-desktop-portal-gtk,
.gtk-password-dialog,
.gtk-file-chooser,
.gtk-app-chooser,
filechooser {
  background-color: @window_bg_color;
  color: @window_fg_color;
}

.portal-widget .sidebar,
.xdg-desktop-portal-gtk .sidebar,
placessidebar,
placessidebar list,
placesview {
  background-color: @sidebar_bg_color;
  color: @sidebar_fg_color;
}
