@import "~/.config/rofi/colors-rofi-dark.rasi"
configuration {
	  modi:                       "drun";
    show-icons:                 true;
    icon-theme:                 "Papirus-Dark";
    display-drun:               "  Apps";
    display-filebrowser:        "  Files";
    drun-display-format:        "{name}";
}
*{
    font : "Maple Mono NF 13.5";
}
window {
    /* properties for window widget */
    transparency:                "real";
    location:                    center;
    anchor:                      center;
    fullscreen:                  false;
    width:                       25%;
    x-offset:                    0px;
    y-offset:                    0px;

    /* properties for all widgets */
    enabled:                     true;
    margin:                      0px;
    padding:                     6px;
    border:                      2px solid;
    border-color:                #7b708e;
    border-radius:               2px;
    cursor:                      "default";
}
/*****----- Listview -----*****/
listview {
    enabled:                     true;
    columns:                     1;
    lines:                       6;
    cycle:                       true;
    dynamic:                     true;
    scrollbar:                   false;
    layout:                      vertical;
    reverse:                     false;
    fixed-height:                false;
    fixed-columns:               true;
    spacing:                     0px;
    margin:                      0px;
    padding:                     2px;
    border:                      0px solid;
    border-radius:               4px;
    cursor:                      "default";
}

entry {
    placeholder: "Search...";
    placeholder-color: #6c708688;
}
