@import "colors-rofi-dark"

* {
    font:               "MapleMono NF 13";
    margin:             0px;
    padding:            0px;
    spacing:            0px;
    background-color:   transparent;
}

window {
    location:           center;
    width:              900px;
    border-radius:      0px;
    background-color:   @background;
    padding:            0px;
}

mainbox {
    padding:            0px;
    spacing:            0px;
    orientation:        horizontal;
    children:           [ "imagebox", "listbox" ];
}

imagebox {
    background-color:      #050505;
    background-image:       url("/tmp/rofi-screenshot-preview.png", height);
    background-position:   center;
    border-radius:         0px 0px 0px 0px;
    padding:               0px;
    orientation:           vertical;
    children:              [ "dummy" ];
}

dummy {
    background-color:    transparent;
}

listbox {
    spacing:             8px;
    padding:             20px 18px 18px 18px;
    background-color:    transparent;
    orientation:         vertical;
    children:            [ "listview" ];
}

listview {
    margin:             0px;
    lines:              3;
    columns:            1;
    fixed-height:       false;
    dynamic:            true;
    spacing:            6px;
}

element {
    border-radius:      0px;
    padding:            6px 6px;
    cursor:             pointer;
    color:              @foreground;
    orientation:        horizontal;
    children:           [ element-text ];
}

element-text {
    text-color:         inherit;
    vertical-align:     0.5;
    horizontal-align:   0.0;
}

element selected normal {
    background-color:   @selected-normal-background;
    text-color:         @selected-normal-foreground;
}
