* {
  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: "GeistMono Nerd Font";
  font-size: 13px;
  padding: 0px;
}

window#waybar {
  background: #0A0A0F;
  color: #5f8787;
  margin-left: 6px;
  margin-right: 6px;
  margin-bottom: 6px;
}

window#waybar>box {
  padding: 0px;
}

tooltip {
  background-color: #000000;
}

#clock,
#tray,
#cpu,
#memory,
#battery,
#network,
#custom-separator,
#window,
#pulseaudio,
#custom-notifications {
  margin: 2px 2px 0px 0px;
  padding: 1px 5px;
  background: transparent;
}

#workspaces button:hover,
#clock:hover,
#cpu:hover,
#memory:hover,
#battery:hover,
#pulseaudio:hover,
#network:hover,
#custom-notifications:hover,
#mpris:hover {
  opacity: 0.9;
}

#workspaces {
  padding-left: 2px;
}

#workspaces button {
  color: #2f3549;
  background: #2f3549;
  margin: 3px 2px;
  border-radius: 2px;
  min-width: 12px;
  padding: 0px 4px;
  transition: all 0.1s cubic-bezier(0.4, 0, 0.2, 1);
}

#workspaces button.focused {
  background: transparent;
  color: #000000;
  border-radius: 2px;
}

#workspaces button.active {
  background: #7aa2f5;
  color: #000000;
  border-radius: 2px;
  font-weight: bold;
  padding: 0px 14px;
}

#custom-os {
  font-size: 16px;
  margin: 0px 6px;
}

#tray,
#cpu {
  color: #41a6b5;
}

#memory {
  color: #ff9e64;
}

#pulseaudio {
  color: #94f978;
}

#clock {
  color: #ff9e64;
  margin-left: 2px;
}

#custom-caffeine {
  font-size: 16px;
  color: #fb4934;
  margin: 0px 10px;
}

#custom-caffeine.inactive {
  color: #5f8787;
  opacity: 0.4;
}

#battery {
  color: #ddc7a1;
}

#mpris {
  margin: 2px 2px 0px 8px;
  padding: 1px 5px;
  background: transparent;
  color: #a1a1a1;
}

#mpris.paused {
  color: #606060;
}

#custom-notifications {
  color: #c1c1c1;
}

#media {
  color: #769bef;
  margin: 4px 0px 4px 6px;
}

#custom-media-animation {
  font-size: 12px;
  margin-right: 10px;
}

#custom-media-now-playing {
  margin-right: 10px;
}

#custom-media-time {
  color: #2f3549;
  font-size: 12px;
}
