* {
  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: "JetBrainsMono Nerd Font";
  font-size: 14px;
  padding: 0;
}

window#waybar {
  background: #080808;
  color: #918478;
}

tooltip {
  background-color: #202020;
}

#clock,
#tray,
#cpu,
#memory,
#battery,
#network,
#pulseaudio {
  margin: 2px 2px 0px 0px;
  padding: 1px 4px;
}

#workspaces button {
  color: #918478;
}


#workspaces button.focused {
  background-color: #918478;
  color: #202020;
}

#workspaces button.active {
  background-color: #202020;
  color: #918478;
}

#battery,
#tray,
#clock,
#cpu,
#pulseaudio,
#memory {
  /* background-color: none; */
  color: #918478;
}
