* {
  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: "IosevkaTerm Nerd Font";
  font-size: 13px;
  padding: 0px;
}

window#waybar {
  background: #080808;
  color: #5f8787;
  margin-left: 6px;
  margin-right: 6px;
  margin-bottom: 6px;
}


tooltip {
  background-color: #080808;
}

#clock,
#tray,
#cpu,
#memory,
#battery,
#network,
#pulseaudio {
  margin: 2px 2px 0px 0px;
  padding: 1px 4px;
  background: transparent;
}

#workspaces button {
  color: #272420;
  background: transparent;
}

#workspaces button.focused {
  background: #888888;
  color: #080808;
}

#workspaces button.active {
  background: transparent;
  color: #5f8787;
}

/* #battery, */
/* #tray, */
/* #clock, */
/* #cpu { */
/*   color: #5f8787; */
/* } */
/**/
/* #memory { */
/*   color: #ffa460; */
/* } */
/**/
/* #pulseaudio { */
/*   color: #94b978; */
/* } */
/**/
/* #clock { */
/*   color: #6e94b2; */
/* } */
/**/
/* #custom-separator { */
/*   color: #263038; */
/* } */

#battery,
#tray,
#clock,
#memory,
#pulseaudio,
#cpu {
  color: #c1c1c1;
}

#custom-keyboard {
  color: #ffffff;
}

#custom-keyboard.disabled {
  color: #ff0000;
}
