* {
  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: "Maple Mono NF";
  font-size: 14px;
  padding: 0px;
}

window#waybar {
  background: #030303;
  color: #5f8787;
  margin-left: 6px;
  margin-right: 6px;
  margin-bottom: 6px;
  border-radius: 0px;
}

window#waybar>box {
  padding: 2px 2px;
}

tooltip {
  background-color: #030303;
}

#clock,
#tray,
#cpu,
#memory,
#battery,
#network,
#custom-separator,
#window,
#pulseaudio,
#custom-caffeine,
#custom-os,
#media,
#custom-notifications {
  margin: 2px 2px 0px 4px;
  padding: 0px 6px;
  background-color: #111111;
  border-radius: 2px;
}

#workspaces button:hover,
#clock:hover,
#cpu:hover,
#memory:hover,
#battery:hover,
#pulseaudio:hover,
#network:hover,
#custom-notifications:hover,
#tray:hover,
#mpris:hover {
  opacity: 0.75;
}

#workspaces {
  padding-left: 2px;
}

#workspaces button {
  color: transparent;
  background: #131313;
  margin: 3px 2px;
  border-radius: 2px;
  min-width: 8px;
  padding: 0px 8px;
  /* transition: all 0.26s cubic-bezier(0.34, 1.56, 0.64, 1); */
}

#workspaces button:focused {
  background: #1a1a1a;
  color: #7d718f;
}

#workspaces button.active {
  background: #d9af82;
  color: #030303;
  font-weight: bold;
  padding: 0px 12px;
  min-width: 18px;
}

#custom-os {
  color: #d8ad81;
  font-size: 18px;
  padding-right: 10px
}

#tray,
#cpu {
  color: #41a6b5;
}

#memory {
  color: #ff9e64;
}

#pulseaudio {
  color: #94f978;
}

#clock {
  color: #94f978;
}

#custom-caffeine {
  color: #ab4642;
}

#custom-caffeine.inactive {
  color: #5f8787;
}

#battery {
  color: #ddc781;
}

#mpris {
  margin: 2px 2px 0px 8px;
  padding: 1px 5px;
  background: transparent;
  color: #a1a1a1;
}

#mpris.paused {
  color: #606060;
}

#custom-notifications {
  color: #c1c1c1;
  padding: 0px 11px;
}

#media {
  color: #41a6b5;
}

#custom-media-animation {
  font-size: 12px;
  margin-right: 10px;
}

#custom-media-now-playing {
  margin-right: 10px;
}

#custom-media-time {
  color: #2f3549;
  font-size: 12px;
}
