@define-color theme_bg_color #000000;
@define-color theme_base_color #000000;
@define-color theme_text_color #c0c0c0;
@define-color theme_fg_color #c0c0c0;
@define-color bg_color #000000;
@define-color base_color #000000;
@define-color text_color #c0c0c0;
@define-color fg_color #c0c0c0;
@define-color insensitive_bg_color #0a0a0a;
@define-color insensitive_base_color #0a0a0a;
@define-color insensitive_fg_color #555555;
@define-color theme_unfocused_bg_color #000000;
@define-color theme_unfocused_base_color #000000;
@define-color theme_unfocused_text_color #888888;
@define-color theme_unfocused_fg_color #888888;
@define-color selected_bg_color #888888;
@define-color selected_fg_color #000000;
@define-color borders #1a1a1a;
@define-color unfocused_borders #0a0a0a;
@define-color theme_selected_bg_color #888888;
@define-color theme_selected_fg_color #000000;
@define-color placeholder_text_color #555555;
@define-color selected_bg_color #58796C;
@define-color theme_selected_bg_color #58796C;
@define-color unfocused_selected_bg_color #58796C;
@define-color theme_unfocused_selected_bg_color #58796C;

.thunar,
.thunar .view,
.thunar toolbar,
.thunar scrolledwindow.sidebar treeview.view {
  background-color: #000000;
  border: none;
}

.thunar * {
  border: none;
  outline: none;
  box-shadow: none;
}

.thunar paned>separator {
  background-color: #000000;
  background-image: none;
  border: none;
  min-width: 0;
  min-height: 0;
}

.thunar .view widget:selected,
.thunar treeview *:selected {
  background-color: #58796C;
}

.thunar .view .rubberband,
.thunar treeview rubberband,
.thunar scrolledwindow.sidebar treeview.view .rubberband {
  background-color: rgba(0, 0, 0, 0.9);
}
